<!DOCTYPE html>
<html>
<head>
  <title>
	  <%= title %>
  </title>
  <%= stylesheet_link_tag 'custom',  :media => 'screen' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="general">
  <!-- Header -->
		<%= render 'layouts/header' %>

<%= yield %>

<div class="social">
	<%= image_tag("facebook.jpg", :height => '20px', :alt => "Facebook") %>
        <%= image_tag("googleplus.jpg", :height => '20px', :alt => "Google+") %>
        <%= image_tag("twitter.jpg", :height => '20px', :alt => "Twitter") %>
</div>
  </div>

<!-- Footer -->
		<%= render 'layouts/footer' %>

</body>
</html>
